:root {
  --main-text-color: #282b22;
  --secondary-text-color: #3d4a39;
  --white-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #3d4a39;

  --accent-color: #ae7b3c;
}
body {
  font-family: 'Raleway', sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover,
.btn:focus {
  background-color: #cc9654;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
}

/* ----------------------HEADER------------------------ */

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  margin-left: 143px;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.networks {
  display: flex;
  margin-left: 149px;
}

.networks-link {
  display: flex;
  fill: var(--accent-color);
}

.networks-link:hover,
.networks-link:focus {
  fill: var(--main-text-color);
}

.icon-fcb {
  padding-top: 35px;
  padding-bottom: 37px;
}

.icon-inst {
  padding-top: 35px;
  padding-bottom: 34px;
}

.networks-item:last-child {
  margin-left: 18px;
}

.nav-link {
  display: block;
  padding-top: 39px;
  padding-bottom: 38px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.icon-instagram:hover,
.icon-instagram:focus {
  fill: var(--main-text-color);
}

.icon-phone {
  margin-right: 7px;
}

.phone-link {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
}

.header-tel {
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 36px;
}

.phone-link:hover,
.phone-link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* -----------------------HERO------------------------- */

.hero {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)),
    url(/images/hero-banner.jpg);
  max-width: 1600px;
  height: 687px;
  padding-top: 120px;
  padding-bottom: 222px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  margin-bottom: 50px;
  width: 537px;
}

.hero-btn {
  padding: 22px 56px;
}

/* -------------------Directions----------------------- */

.directions {
  padding-top: 140px;
  padding-bottom: 140px;
}

.directions-title {
  text-align: center;
  margin-bottom: 80px;
}

.directions-list {
  display: flex;
  justify-content: space-around;
}

.directions-item {
  border-left: 1px solid rgba(40, 43, 34, 0.2);
  padding-left: 30px;
  padding-right: 30px;
}

.directions-item:last-child {
  border-right: 1px solid rgba(40, 43, 34, 0.2);
}

.direction-number {
  font-size: 24px;
  opacity: 0.5;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 60px;
}

.direction-title {
  font-size: 24px;
  color: var(--secondary-text-color);
  font-weight: 600;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 30px;
}

/* --------------------Materials--------------------- */

.materials {
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.materials h3 {
  opacity: 0.5;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.materials-title {
  text-align: center;
  margin-bottom: 70px;
}

.materials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -70px;
}

.materials-item {
  flex-basis: calc(100% / 3 - 30px);
  text-align: center;
  margin-bottom: 70px;
}

.materials-icon {
  fill: var(--white-text-color);
}

.materials-item > h3 {
  margin-top: 30px;
}

/* --------------------About company------------------- */

.container-about {
  position: relative;
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.container-about > img {
  position: absolute;
}

.container-about .img-about-bedroom {
  bottom: 0;
  right: 0;
}

.about {
  padding-top: 141px;
  padding-bottom: 141px;
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-item {
  display: flex;
  padding: 35px 60px;
}

.about-item:nth-child(2n) {
  border-left: 1px solid rgba(40, 43, 34, 0.2);
}

.about-item-icon {
  margin-top: 5px;
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.about-caption {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 80px;
  width: 814px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--main-text-color);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  width: 370px;
  margin-left: 15px;
}

.about-descr {
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}

.about-border {
  width: 926px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(40, 43, 34, 0.2);
}

/* --------------------Adventages---------------------- */

.advantages {
  padding-bottom: 140px;
}

.advantages-title {
  text-align: center;
  margin-bottom: 80px;
}

.advantages-sub-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}

.advantages-item {
  display: flex;
  align-items: baseline;
  padding-top: 50px;
  position: relative;
  border-top: 1px solid rgba(40, 43, 34, 0.2);
}

.advantages-item:last-child {
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}

.advantages-descr {
  display: block;
  padding-left: 40px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 400;
  width: 50%;
  border-left: 1px solid rgba(40, 43, 34, 0.2);
}

.advantages-number {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  width: 50%;
  opacity: 0.3;
}

.advantages-item:hover {
  color: var(--accent-color);
}

.advantages-item img {
  opacity: 0;
  visibility: visible;
  position: absolute;
  left: 143px;
  top: -33px;
  z-index: 1;
}

.advantages-item:hover img,
.advantages-item:hover .advantages-number {
  opacity: 1;
}

.advantages-text {
  color: var(--main-text-color);
  opacity: 0.8;
}

/* -------------The form for project---------------- */

form {
  display: flex;
  flex-direction: column;
}

.form {
  padding-left: 200px;
  padding-top: 100px;
  padding-right: 187px;
  text-align: start;
}

.form-input {
  width: 300px;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  opacity: 0.5;
  color: var(--white-text-color);
  margin-bottom: 25px;
}

.container-form {
  width: 1630px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.form-download {
  color: var(--white-text-color);
  opacity: 0.5;
  margin-bottom: 40px;
}

.section-form {
  display: flex;
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
}

.section-form-title {
  margin-bottom: 20px;
}

.section-after-title {
  font-size: 16px;
  line-height: 1.44;
  font-weight: 500;
  opacity: 0.8;
  width: 306px;
  margin-bottom: 40px;
}

.form-btn {
  width: 300px;
  padding: 22px 105px;
  margin-bottom: 25px;
}
.section-form {
  text-align: center;
}

/* -------------The phase of work------------------ */

.section-phase {
  padding: 140px 0;
}

.phase {
  text-align: center;
  margin-bottom: 80px;
}

.phase-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}

.phase-item {
  width: 240px;
  margin-right: 80px;
}

.phase-item:nth-child(4n) {
  margin-right: 0;
}

.phase-number {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: var(--secondary-text-color);
  border-radius: 50%;
  border: 1px solid rgba(40, 43, 34, 0.3);
  padding: 18px 17px;
  margin-bottom: 35px;
}

.phase-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 15px;
}

.phase-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  opacity: 0.8;
}

/* -------- -------Examples -------------------------*/

.examples {
  text-align: center;
}

/* -----------------------Gifts------------------------ */

.gifts {
  display: flex;
  padding: 100px 150px;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid rgba(40, 43, 34, 0.1);
  border-right: 2px solid rgba(40, 43, 34, 0.1);
  border-radius: 242px;
}

.gifts-descr {
  width: 355px;
  text-align: center;
}

.gifts-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  opacity: 0.8;
}

.gifts-descr-title {
  margin-bottom: 23px;
}

.section-gifts {
  background-color: #f3f3f3;
}

.gifts-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.gifts-icon-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.gifts-icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
}

.gifts-icon-text {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45;
  justify-content: center;
  color: var(--secondary-text-color);
}

.gifts-img {
  display: block;
}

.gift-btn {
  padding: 22px 67px;
}

/* -------------------Partners ----------------------*/

.partners {
  padding: 140px 0;
}

.partners-title {
  text-align: center;
  margin-bottom: 60px;
}

.partners-list {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.partners-item {
  display: flex;
  width: 285px;
  height: 90px;
  border: 1px solid rgb(40, 43, 34, 0.2);
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.partners-logo {
  margin-right: 0;
}

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.franke:hover {
  background-image: url(../images/franke-active.svg);
}

.hafele:hover {
  background-image: url(../images/hafele-active.svg);
}

.artzerkalo:hover {
  background-image: url(../images/artzerkalo-active.svg);
}

.emir:hover {
  background-image: url(../images/emir-active.svg);
}

.swipe-list {
  display: flex;
  justify-content: center;
}

.swipe-list > li:first-child {
  margin-right: 20px;
}

.partners-swipe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  background-color: transparent;
}

.partners-swipe:hover,
.partners-swipe:focus {
  border-color: var(--accent-color);
}

.partners-swipe:hover .partners-swipe-arrow,
.partners-swipe:focus .partners-swipe-arrow {
  fill: var(--accent-color);
}

.partners-swipe-arrow {
  fill: var(--secondary-text-color);
}

/* ---------------------Footer------------------------ */

.footer-logo {
  display: block;
  margin-bottom: 27px;
}

.footer-networks-item:not(:last-child) {
  margin-right: 7px;
}

.footer-nav {
  padding: 104px 0;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}

.footer-nav > .container {
  display: flex;
  justify-content: space-between;
}

.footer-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-networks-list {
  display: flex;
}

.footer-nav-block {
  display: flex;
}

.footer-nav-list:not(:last-child) {
  margin-right: 86px;
}

.footer-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer-contact {
  display: block;
}

.social-networks {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  opacity: 0.5;
}

.footer-tel {
  margin-bottom: 31px;
}

.footer-btn {
  padding: 22px 47px;
}

/* ----------------------brands--------------------- */

.footer-partners-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.footer-partners-list {
  display: flex;
  align-items: center;
  padding: 38px 0;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}

.footer-partners-item {
  display: flex;
  margin-right: 38px;
}

.footer-partners-item:last-child {
  margin-right: 0;
}

.egger:hover {
  background-image: url(../images/egger-active.svg);
}

.linken:hover {
  background-image: url(../images/linken-active.svg);
}

.inoxa:hover {
  background-image: url(../images/inoxa-active.svg);
}

.swisspan:hover {
  background-image: url(../images/swisspan-active.svg);
}

.cleaf:hover {
  background-image: url(../images/cleaf-active.svg);
}

.samsung:hover {
  background-image: url(../images/samsung-active.svg);
}

.blum:hover {
  background-image: url(../images/blum-active.svg);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.brands {
  padding: 40px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  opacity: 0.5;
  padding: 16px 0;
}
