:root {
  --main-text-color: #282b22;
  --secondary-text-color: #3d4a39;
  --white-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #3d4a39;

  --accent-color: #ae7b3c;
}
body {
  font-family: 'Raleway', sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.26;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
}

/* ----------------------HEADER------------------------ */

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.phone {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--secondary-text-color);
}

/* -----------------------HERO------------------------- */

.hero {
  text-align: center;
}

.hero-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  opacity: 0.8;
}

.hero-btn {
  padding: 22px 56px;
}

/* -------------------Directions----------------------- */

.direction-number {
  font-size: 24px;
  opacity: 0.5;
  line-height: 1;
  font-weight: 600;
}

.direction-title {
  font-size: 24px;
  color: var(--secondary-text-color);
  font-weight: 600;
  line-height: 1;
  font-weight: 600;
}

/* --------------------Materials--------------------- */

.materials {
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
}

.materials h3 {
  opacity: 0.5;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

/* --------------------About company------------------- */

.about {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.31;
}

/* --------------------Adventages---------------------- */

.advantages-number {
  font-size: 24px;
  opacity: 0.3;
  line-height: 1;
  font-weight: 600;
}

.advantages-title {
  font-size: 32px;
  line-height: 1.31;
  font-weight: 600;
}

.advantages-descr {
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  opacity: 0.8;
}

/* --------------The form for project------------------ */

.section-form {
  display: flex;
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
}

.section-after-title {
  font-size: 16px;
  line-height: 1.44;
  font-weight: 500;
  opacity: 0.8;
}

.form-btn {
  padding: 22px 105px;
}
.section-form {
  text-align: center;
}

/* ---------------The phase of work------------------- */

.phase-number {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: var(--secondary-text-color);
  border-radius: 50%;
  border: 1px solid var(--main-text-color);
  padding: 18px 17px;
}

.phase-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}

.phase-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
}

/* -----------------------Gifts------------------------ */

.section-gift {
  background-color: #f3f3f3;
}

.gift-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: var(--secondary-text-color);
}

.gift-btn {
  padding: 22px 67px;
}

/* --------------------Partners ------------------------*/

.partners {
  display: flex;
  align-items: center;
}

.partner-logo {
  display: flex;
  width: 285px;
  height: 90px;
  border: 1px solid rgb(40, 43, 34, 0.2);
  align-items: center;
  justify-content: center;
}

/* ---------------------Footer------------------------ */

.social-networks {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  opacity: 0.5;
}

.footer-btn {
  padding: 22px 47px;
}

.footer-partner-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.footer-partner-logo {
  display: flex;
  align-items: center;
}
