:root {
  --main-text-color: #282b22;
  --secondary-text-color: #3d4a39;
  --white-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #3d4a39;

  --accent-color: #ae7b3c;
}
body {
  font-family: 'Raleway', sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.26;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
}

/* ----------------------HEADER------------------------ */

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  margin-left: 143px;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.networks {
  display: flex;
  margin-left: 149px;
}

.networks-link-inst {
  display: block;
  padding-top: 35px;
  padding-bottom: 34px;
}

.networks-link-fcb {
  display: block;
  padding-top: 35px;
  padding-bottom: 37px;
}

.networks-item:last-child {
  margin-left: 18px;
}

.nav-link {
  display: block;
  padding-top: 39px;
  padding-bottom: 38px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.icon-instagram:hover,
.icon-instagram:focus {
  fill: var(--main-text-color);
}

.icon-phone {
  margin-right: 12px;
}

.phone-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 37px;
  padding-bottom: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--secondary-text-color);
}

.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

/* -----------------------HERO------------------------- */

.hero {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)),
    url(/images/hero-banner.jpg);
  max-width: 1600px;
  height: 687px;
  padding-top: 120px;
  padding-bottom: 222px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  margin-bottom: 50px;
  width: 537px;
}

.hero-btn {
  padding: 22px 56px;
}

/* -------------------Directions----------------------- */

.directions {
  padding-top: 140px;
  padding-bottom: 140px;
}

.directions-title {
  text-align: center;
  margin-bottom: 80px;
}

.directions-list {
  display: flex;
  justify-content: space-around;
}

.directions-item {
  border-left: 1px solid rgba(40, 43, 34, 0.2);
  padding-left: 30px;
  padding-right: 30px;
}

.directions-item:last-child {
  border-right: 1px solid rgba(40, 43, 34, 0.2);
}

.direction-number {
  font-size: 24px;
  opacity: 0.5;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 60px;
}

.direction-title {
  font-size: 24px;
  color: var(--secondary-text-color);
  font-weight: 600;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 30px;
}

/* --------------------Materials--------------------- */

.materials {
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.materials h3 {
  opacity: 0.5;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
}

.materials-title {
  text-align: center;
  margin-bottom: 70px;
}

.materials-list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -70px;
}

.materials-item {
  flex-basis: calc(100% / 3 - 30px);
  text-align: center;
  margin-bottom: 70px;
}

.materials-item > img {
  margin-left: auto;
  margin-right: auto;
}

.materials-item > h3 {
  margin-top: 30px;
}

/* --------------------About company------------------- */

.about {
  padding-top: 141px;
  padding-bottom: 141px;
}

.container-about {
  width: 1390px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  /* display: flex; */
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-item {
  display: flex;
  border: 1px solid rgba(40, 43, 34, 0.2);
  padding: 35px 60px;
}

.about-caption {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.31;
  margin-bottom: 80px;
  width: 814px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--main-text-color);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  /* margin-bottom: 50px; */
  width: 370px;
  margin-left: 15px;
}

/* --------------------Adventages---------------------- */

.advantages {
  padding-bottom: 140px;
}

.advantages-title {
  text-align: center;
  margin-bottom: 80px;
}

.advantages-sub-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.31;
  margin-bottom: 10px;
}

.advantages-item:hover {
  color: var(--accent-color);
}

.advantages-item {
  display: flex;
  align-items: center;
}

.advantages-descr {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  border-top: 1px solid rgba(40, 43, 34, 0.2);
  border-left: 1px solid rgba(40, 43, 34, 0.2);
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
  width: 100%;
}

.advantages-number {
  font-size: 24px;
  opacity: 0.3;
  line-height: 1;
  font-weight: 600;
  margin-right: 116px;
}

.advantages-item img {
  margin-right: 116px;
  opacity: 0;
}

.advantages-item img:hover {
  opacity: 1;
}

.advantages-title {
  font-size: 32px;
  line-height: 1.31;
  font-weight: 600;
}

.advantages-descr {
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  opacity: 0.8;
}

/* --------------The form for project------------------ */

form {
  display: flex;
  flex-direction: column;
}

.form {
  padding-left: 200px;
  padding-top: 100px;
  padding-right: 187px;
  padding-bottom: 100px;
  text-align: start;
}

.form-input {
  width: 300px;
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  opacity: 0.5;
  color: var(--white-text-color);
  margin-bottom: 25px;
}

.container-form {
  width: 1630px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.form-download {
  color: var(--white-text-color);
  opacity: 0.5;
  margin-bottom: 40px;
}

.section-form {
  display: flex;
  background-color: var(--secondary-bg-color);
  color: var(--white-text-color);
}

.section-form-title {
  margin-bottom: 20px;
}

.section-after-title {
  font-size: 16px;
  line-height: 1.44;
  font-weight: 500;
  opacity: 0.8;
  width: 306px;
  margin-bottom: 40px;
}

.form-btn {
  width: 300px;
  padding: 22px 105px;
  margin-bottom: 25px;
}
.section-form {
  text-align: center;
}

/* ---------------The phase of work------------------- */

.section-phase {
  padding: 140px 0;
}

.phase {
  text-align: center;
  margin-bottom: 80px;
}

.phase-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 97px;
  border-bottom: 1px solid rgba(40, 43, 34, 0.2);
}

.phase-item {
  width: 240px;
}

.phase-number {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: var(--secondary-text-color);
  border-radius: 50%;
  border: 1px solid rgba(40, 43, 34, 0.3);
  padding: 18px 17px;
  margin-bottom: 35px;
}

.phase-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 15px;
}

.phase-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  opacity: 0.8;
}

/* -------------------Examples -------------------------*/

.examples {
  text-align: center;
}

/* -----------------------Gifts------------------------ */

.section-gift {
  background-color: #f3f3f3;
}

.gift-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: var(--secondary-text-color);
}

.gift-btn {
  padding: 22px 67px;
}

/* --------------------Partners ------------------------*/

.partners {
  display: flex;
  align-items: center;
}

.partner-logo {
  display: flex;
  width: 285px;
  height: 90px;
  border: 1px solid rgb(40, 43, 34, 0.2);
  align-items: center;
  justify-content: center;
}

/* ---------------------Footer------------------------ */

.social-networks {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  opacity: 0.5;
}

.footer-btn {
  padding: 22px 47px;
}

.footer-partner-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.footer-partner-logo {
  display: flex;
  align-items: center;
}
