.hero {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)),
    url(../images/hero-banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  max-height: 687px;
  padding-top: 120px;
  padding-bottom: 222px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  margin-bottom: 50px;
  width: 537px;
}

.hero-btn {
  padding: 22px 56px;
}
