.btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #cc9654;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
}
