:root {
  --main-text-color: #282b22;
  --secondary-text-color: rgb(61, 74, 57);
  --white-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #3d4a39;

  --accent-color: #ae7b3c;
}
